<div [@place]="places.length">
  <div>
    <label for="fname">Click on the city to see his sports</label>
  </div>
  <ul class="flex-container">
    <li class="flex-item" *ngFor="let place of places" (click)="getSports(place.name)">
      {{place.name}}
    </li>
  </ul>

  <ul class="flex-container">
    <li class="sport-item" *ngFor="let sport of sports">
      {{sport.name}}
    </li>
  </ul>

</div>

<div [@place]="placeList.length">
  <br /> <button class="button" (click)="addPlaces()">Add Favorite City</button>
  <div class="flex-container">
    <li class="sport-item" *ngFor="let place of placeList ; let i = index" (click)="AddFavorite(place.name,i)">
      {{place.name}}
    </li>
  </div>
  <div *ngIf="label">
    <label for="fname">Click on the item to add it in your city list</label>
  </div>
</div>