<div class="weather">
  <form>
    <div class="row">
      <div class="col-25">
        <label for="fname">City Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="weather" name="city" placeholder="Search.." [(ngModel)]="cityName" required>
      </div>
    </div>

    <div class="row">
      <input type="submit" (click)="getWeather()" class="btn" value="OK" />
    </div>
  </form>
  <div>
    <br />
    <button class="button" value="GetSport" (click)="getSports()">Get Sport</button>
  </div>


  <div *ngIf="showWeather">

    <table class="res">
      <tr>
        <th>Description</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Time</th>
      </tr>
      <tr>
        <td> {{description}}</td>
        <td> {{temp}}°</td>
        <td>{{humidity}}</td>
        <td>{{time}}</td>
      </tr>
    </table>

    <div *ngIf="showRes">
      <div>
        <label for="fname"> Sports that you can do :</label>
      </div>
      <div class="flex-container">
        <li class="flex-item" *ngFor="let c of sportsList">
          {{c.name}}
        </li>
      </div>
    </div>
  </div>
</div>