<div class="weather">
  Input city name:
  <form>
    <input type="text" class="txt" name="city" placeholder="Search.." [(ngModel)]="cityName" />
    <br /> <input type="submit" class="btn" value="OK" (click)="getWeather()" />
  </form>
  <div>
    <br/>
    <button class="btn" value="GetSport" (click)="getSports()">Get Sport</button>
  </div>


  <div *ngIf="showWeather">
    City: {{cityName}}<br />
    WeatherID: {{weatherId}}<br />
    Description: {{description}}<br />
    Temperature: {{temp}}<br />
    Humidity: {{humidity}}<br />
    Time: {{time}}<br />
    <br/>
    Sports that you can do :
    <ul>
      <li *ngFor="let c of sportsFinal">
        {{c.name}}
      </li>
    </ul>
  </div>
</div>