<div class="app">

  <h1 class="title">{{title}}</h1>
  <ul>
    <div *ngIf="userLogged; else elseBlock">
      <li><a routerLink="Home">Home</a></li>
      <li><a routerLink="Weather">Weather</a></li>
      <li><a routerLink="Place">Cities</a></li>
      <li><a routerLink="Sport">Sports</a></li>
    </div>
    <ng-template #elseBlock>
      <li><a routerLink="SignUp">Sign Up</a></li>
      <li><a routerLink="">Sign In</a></li>
    </ng-template>
    <li><button class="logOut" (click)="logOut()" *ngIf="userLogged">Log Out</button> </li>
  </ul>
  <router-outlet></router-outlet>
</div>