
html {
    height: 90%;
}
body {
    background-color: lightgray;
    height: 90%;
    width: 90%;
    border: 25px solid green;
    padding: 25px;
}
.title {
  
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    padding: 8px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;

}

p {
    text-align: center;
} 
.tables{
    width: 100%;
    text-align: center;
    
}
a {
    text-decoration: none;
    font-size:150%;
    
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #4CAF50
}

.active {
background-color:#4CAF50;
}

input[type=text],input[type=password] ,input[type=email]  {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}